.celula {
    width: 25px;
    height: 25px;
    border: 1px gray solid;
}
table {
    border-spacing: 0px;
    border: 2px black gray;
}
main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}